.weather { 
background: white;
max-width: 600px;
margin: 60px auto;
padding: 30px;
border-radius: 10px;
}


ul {
  list-style-type: none;
  line-height: 1.5;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}

.weather-forecast {
margin: 60px auto;
padding: 30px;
border-radius: 10px;
}


